/* reboot styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}


img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

button {
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/* custom styles */
.container {
  width: 1600px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1003px;
  color: #fff;
  background-clip: border-box;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/header.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.head-text {
  max-width: 750px;
}

.main-title {
  text-align: center;
  font-size: 5rem;
  font-weight: 200;
}

.intro-text {
  text-align: center;
  font-size: 1.25rem;
  margin: 90px 0;
  font-weight: 300;
}


.form-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 970px;
  height: 250px;
  border: 1px solid #fff;
}

.form-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.tips-text {
  margin-bottom: 50px;
}

.form-group {
  display: flex;
  font-size: 16px;
}

.input-box {
  background-color: transparent;
  border: 1px solid #fff;
  margin-right: 30px;
  height: 50px;
  padding: 0 20px
}

.input-box::placeholder {
  color: #fff;
  /*vertical-align: center;*/
}

.btn-sign-up {
  border: none;
  height: 50px;
  padding: 0 20px;
  font-size: 12px;
  text-align: center;
}

.section-1 {
  display: flex;
  height: 800px;
  color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/tree.png");
  background-size: 100% 100%;
}

.section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3
}

.section-right {
  display: flex;
  flex: 2;
  align-items: center;
}

.section-title {
  width: 450px;
  font-size: 3rem;
}

.section-text {
  width: 450px;
  text-align: left;
  font-size: 1.25rem;
  margin: 50px 0;
  font-weight: 300;
}

.btn-white {
  width: 240px;
  height: 60px;
  /*color: #fff;*/
  border: 1px solid #fff;
  background-color: #fff;
  margin-right: 20px;
}

.btn-normal {
  width: 240px;
  height: 60px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.pad-border-radius {
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid #fff;
  border-right: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 600px;
}

.pad-btn {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 25px;
}

.pad-inner {
  display: flex;
  flex: 1 0 auto;
  width: 0;
  flex-direction: column;
  height: 545px;
  border: 1px solid #fff;
  border-right: none;
  justify-content: space-between;
  margin-left: 25px;
  padding: 15px 35px;
  background-color: #fff;
  color: #000;
  overflow: hidden;
}

.resource-title {
  font-size: 50px;
  color: #34495e;
}

.resource-intro {
  font-size: 1.25rem;
  color: #333;
}

.cards {
  /*display: inline-flex;*/
  display: flex;
}

.card {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-right: 25px;
  margin-bottom: 25px;
  width: 178px;
  border: 1px solid #F6F6F6;
  box-shadow: 10px 5px 5px #f6f6f6;
}

.card-body {
  padding: 10px 15px;
}

.card-img-top {
  height: 150px;
}

.card-title {
  margin-bottom: .75rem;
  font-size: 1.25rem;
  color: #344a5e;
}

.card-text {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #9ca7b4;
}

.section-2 {
  display: flex;
  padding: 70px 315px;
}

.fell-form {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 470px;
  border: 1px solid #E7E7E7;
  padding: 0 50px;
}

.msg-title {
  padding: 50px;
  font-size: 24px;
}

.form-control {
  margin-bottom: 30px;
  height: 50px;
  border: 1px solid #E7E7E7;
  padding-left: 10px;
}

/*.form-control::placeholder {*/
/*  padding: 0 10px;*/
/*}*/

.msg-area {
  padding-top: 5px;
  height: 145px;
  resize: none;
}

.btn-send {
  margin-bottom: 65px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 85px;
  padding-left: 135px;
}

.contacts h3 {
  font-size: 48px;
  font-weight: 200;
}

.contacts p {
  font-size: 1rem;
  margin-bottom: 50px;
}

.contact-area {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.contact-area p {
  margin-bottom: 0;
  color: #333;
  font-weight: 600;
}

.contact-icon {
  margin-right: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 3rem 1rem;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
  width: 1120px;
}

.footer .col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.footer .col h5 {
  font-size: 1.25rem;
}

.list-none-styled {
  list-style: none;
  padding-left: 0;
}

.text-muted {
  color: #6c757d;
}

.icon-list {
  padding: 0;
  list-style: none;
  display: flex;
}

.icon {
  fill: #fff;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}



